.quote{
    background-color: var(--light);
   color:  var(--dark);
   opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Great Vibes";
    font-size: 2.5rem;
}
